root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{cs,csx}]
indent_size = 4
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
dotnet_style_namespace_match_folder = true:warning
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
# csharp_prefer_braces = true:warning
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_when_type_is_apparent = true:suggestion

[*.{csproj,props,targets,sln,xml,config}]
indent_size = 2

[*.{ts,tsx,js,jsx,mjs,cjs}]
indent_size = 2
quote_type = single

[*.{json,yml,yaml,scss,css,html,md}]
indent_size = 2

[Dockerfile*]
indent_size = 2

[Makefile]
indent_style = tab
